*.suo
*.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.pdb
**/node_modules
**/dist
**/.angular
/src/Util.Platform.Systems.Storages.Api/Cache
/src/Util/Util.Publish/Util.Dapr
/src/Util/Util.Publish/Util.Localization.Extensions
/src/Util/Util.Publish/Util.Move
/src/Util/Util.Publish/Util.Nacos
/src/Util/Util.Publish/Util.Oss
**/Hangfire-log.db
**/Hangfire.db
**/HangfireDb.db
.vs
/nuget.push/Kyber.Industry.MES.Common
/nuget.push/Kyber.Industry.MES.Sdk
/nuget.push
/src/Kyber.Industry.MES.Ui/Properties/PublishProfiles/FolderProfile.pubxml
/src/Kyber.Industry.MES.Ui/ClientApp/.nx/cache
/kyber-industry-core-init
/publish
