<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseName"
			 connectionString="LocalDatabase.db"/>
	</connectionStrings>
	<appSettings>
		<add key="LanguageResource" value="KSW.ATE01.Start.Properties.Resources"/>
		<add key="TemplateName" value="ATE01"/>
		<add key="TemplateDirName" value="KSW.ATE01.Template"/>
		<add key="TestPlanTemplateName" value="TestPlanTemplate"/>
		<add key="TestPlanTemplateDir" value="TestPlanTemplate"/>
		<add key="OutputTemplate" value="{Level} >> {SourceContext} [{Timestamp:yyyy-MM-dd HH:mm:ss.fff}] {Message}{NewLine}{Exception}{NewLine}"/>
		<add key="TestItemName" value="CustomerProgram.TestItems"/>
		<add key="StartTestMethod" value="TestStart"/>
		<add key="EndTestMethod" value="TestEnd"/>
		<add key="StartFlowMethod" value="FlowStart"/>
		<add key="EndFlowMethod" value="FlowEnd"/>
		<add key="RealTimeDir" value="RealTimeTxt"/>
		<add key="RealTimeConfigureName" value="RealTimeTxt.Config"/>
		<add key="RealTimeFilePath" value="C:\ATE01\Log\Log.txt"/>
		<add key="IsDeleteProjectDir" value="True"/>
	</appSettings>
</configuration>