<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseName"
			 connectionString="LocalDatabase.db"/>
	</connectionStrings>
	<appSettings>
		<add key="LanguageResource" value="KSW.ATE01.Start.Properties.Resources"/>
		<add key="TemplateName" value="ATE01"/>
		<add key="TemplateDirName" value="KSW.ATE01.Template"/>
		<add key="TestPlanDirName" value="TestPlan"/>
		<add key="OutputTemplate" value="{Level} >> {SourceContext} [{Timestamp:yyyy-MM-dd HH:mm:ss.fff}] {Message}{NewLine}{Exception}{NewLine}"/>
	</appSettings>
</configuration>